html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.first-image, .second-image, .third-image{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.first-image{
    background-image: url(img/1.jpg);
    min-height:500px;
}

.second-image{
    background-image: url(img/2.jpg);
    min-height:500px;
}

.third-image{
    background-image: url(img/3.jpg);
    min-height:500px;
}



section{
    width: 668px;
    height: 200px;
    padding: 2rem;
    margin: 1rem auto;
}

.img{
    position: relative;
}

.img span{
    position:absolute;
    top:50%;
    left: 50%;
    color: azure;
    font-weight: 300;
}